body {
    background-color: #f3c0ff;
}

li {
    border: solid;
    border-radius: 2em;
    border-width: 3px;

    box-shadow: 4px 4px #000000;
    
    background-color: #833196;
    
    list-style-type: none;

    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;

    transition: transform .2s;

    width: 310px;
}

#bandcamp{
    background-color: #3f8dd6;
}

#bluesky{
    background-color: #3f74d6;
}

#instagram{
    background-color: #493fd6;
}

#threads{
    background-color: #673fd6;
}

#tiktok{
    background-color: #a63fd6;
}

#twitch{
    background-color: #c93fd6;
}

#twitter{
    background-color: #d63fb0;
}

#youtube{
    background-color: #d63f7e;
}

li:hover {
    transform: scale(1.5);
}

a {
    color: #ffffff;

    font-family: Chewy-Regular;
    font-size: 2.5em;

    text-decoration: none;
}

.container {
    height: 700px;
    width: 600px;

    margin: auto;
    margin-top: 1.5em;
}

.links {
    text-align: center;
}

.footer{
    text-align: center;
    color: #000000;
    font-family: Chewy-Regular;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    src: url(fonts/Chewy-Regular.ttf);
    font-family: Chewy-Regular;
}